body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;

 
}

.container {
  width: 100%;
  max-width: 1440px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ============================================ */
/*                     .HEAD                    */
/* ============================================ */
.head {
  width: 100%;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  // 1
  .theme {
    user-select: none;
    font-weight: 700;
    cursor: pointer;
    text-align: right;

    .icon {
      transform: translateY(2px);
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

/* =======================================-------------------------------===== */
/*                     .MAIN                    */
/* =====================================-------------------------------======= */
main {
  width: 100%;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ============================================ */
/*                     SEARCH                    */
/* ============================================ */
.search {
  width: 100%;
  // display: none;
}
/* --------------- .MAIN-SEARCH --------------- */
.main-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  //   .search-text
  .search-text {
    position: relative;

    input {
      width: 150%;
      padding: 0.8rem 1rem;
      padding-left: 3rem;
      border-radius: 10px;

      font-weight: 600;
    }

    ion-icon {
      font-size: 1.5rem;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateY(-50%);
    }
  }

  //   .search-region
  .search-region {
    select {
      cursor: pointer;
      padding: 0.8rem 1rem;

      font-weight: 600;

      option {
        font-weight: 600;
      }
    }
  }
}

/* ---------------- .MAIN-SHOW ---------------- */
.main-show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;

  .country-block {
    border-radius: 5px;
    overflow: hidden;

    // 1
    img {
      width: 100%;
    }

    // 2
    .country-detail {
      padding: 1rem;

      .name {
        font-weight: 700;
      }

      .geo {
        margin-top: 1rem;

        span {
          font-size: clamp(0.65rem, 1.5vw, 1rem);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;
          font-weight: 600;

          div {
            font-weight: 400;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

/* ============================================ */
/*                    .DETAIL                   */
/* ============================================ */
.detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  //   .back
  .back {
    cursor: pointer;
    align-self: flex-start;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      border-radius: 5px;

      cursor: pointer;
      padding: 0.3rem 1.5rem;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// .detail-block
.detail-block {
  width: 100%;

  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  //   1
  .img-flag {
    width: 50%;
    align-self: stretch;
    img {
      width: 100%;
      height: 100%;
    }
  }

  //   2
  .detail-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    // -
    h2 {
      align-self: flex-start;
    }
    // -
    .geo-country {
      width: 100%;
      margin: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem;

      .geo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;

        span {
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;
          font-weight: 700;

          div {
            font-weight: 600;
            opacity: 0.7;
          }
        }
      }
    }
    // -
    .border-country {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-start;

      .border {
        font-weight: 700;
        margin-right: 1rem;
        min-width: 20ch;
      }

      .borderblock {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        font-weight: 600;
        span {
          cursor: pointer;
          border-radius: 10px;

          padding: 0.5rem 1rem;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
